/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04 15, 17, 9:52:37 AM
    Author     : Systemize
*/
.box {
    background-color: #f6f7f9;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    box-shadow: none;
    padding-left: 12px;
    padding-right: 12px;
}

back:hover {
    color: yellow;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.topleft {
    position: absolute;
    top: 10px;
    left: 10px;
}

.login-form {
    width: 20rem;
    height: auto;
    position: fixed;
    bottom: 10%;
    /*margin-top: -12.375rem;*/
    left: 50%;
    margin-left: -9.5rem;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}
.student-form {
    width: 25rem;
    height: 25.75rem;
    position: fixed;
    top: 50%;
    margin-top: -10.375rem;
    left: 50%;
    margin-left: -12.5rem;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}


.ui-menu {  
    list-style:none;  
    padding: 2px;  
    margin: 0;  
    display:block;  
}  
.ui-menu .ui-menu {  
    margin-top: -3px;  
}  
.ui-menu .ui-menu-item {  
    margin:0;  
    padding: 0;  
    zoom: 1;  
    float: left;  
    clear: left;  
    width: 100%;  
    font-size:80%;  
}  
.ui-menu .ui-menu-item a {  
    text-decoration:none;  
    display:block;  
    padding:.2em .4em;  
    line-height:1.5;  
    zoom:1;  
}  
.ui-menu .ui-menu-item a.ui-state-hover,  
.ui-menu .ui-menu-item a.ui-state-active {  
    font-weight: normal;  
    margin: -1px;  
}  

html, body {
    height: 100%;
}
body {
}
.page-content {
    padding-top: 3.125rem;
    min-height: 100%;
    height: 100%;
}
.table .input-control.checkbox {
    line-height: 1;
    min-height: 0;
    height: auto;
}
@media screen and (max-width: 800px){
    #cell-sidebar {
        flex-basis: 52px;
    }
    #cell-content {
        flex-basis: calc(100% - 52px);
    }
}


.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}

/*
 * Globals
 */

/* Links */
a
a:focus,
a:hover {
    color: #def70d;
}

/* Custom default button */
.btn-default,
.btn-default:hover
.btn-default:focus {
    color: #ccc;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

.fancy-icon {
    vertical-align: middle;
    font-size: 40px;
}

.fancy-text {
    font-family: "Courier-new";
}

.fancy-one {
    border: 1px solid #000;
    border-radius: 6px;
    display: inline-block;
    margin: 2px;
    padding: 10px;
}

.fancy-one:hover {
    background-color: #fff;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #fff;
}

.strike > span:before {
    right: 100%;
    width: 200px;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    width: 200px;
    margin-left: 15px;
}

.gist .gist-meta {
    padding: 10px;
    overflow: hidden;
    font: 12px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #586069;
    background-color: #f7f7f7;
    border-radius: 0 0 2px 2px;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

.fbg{
    background-image: url("../images/preloader.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.stablediv{
    height: 280px; 
    width: 456px; 
    overflow: hidden;
    white-space: nowrap;
}

.ui-autocomplete-input {
    z-index: 100;
}

.ui-front {
    z-index: 1500 !important;
}

.fade {
    right: 0px; 
    background-image: linear-gradient(to right, 
        rgba(238, 238, 238, 0), 
        rgba(238, 238, 238, 0.4)
        100%);
}

.faded {
    right: 0px; 
    background-image: linear-gradient(to right, 
        rgba(238, 238, 238, 0), 
        rgba(238, 238, 238, 0.9)
        100%);
}

.lbg{
    background-image: url("../images/Background.webp");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
}

.chat{
  position: fixed;
  z-index: 1;
  bottom: 0px;
  right: 0px;
  overflow-x: hidden;
  padding: 8px 0;
}

.portal{
  position: fixed;
  z-index: 1;
  height:90px;
  width:70px;
  bottom: 100px;
  right: 0px;
  overflow: hidden;
  padding: 8px 0;
}


.formbg{
    background-image: url("../images/form-bg.webp");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dropzone {
    background: #fff;
    border: 2px dashed #ddd;
    border-radius: 5px;
}

.dz-message {
    color: #999;
}

.dz-message:hover {
    color: #464646;
}

.dz-message h3 {
    font-size: 200%;
    margin-bottom: 15px;
}
img {
  vertical-align: middle;
}

.demo-gallery > ul {
  margin-bottom: 0;
}
.demo-gallery > ul > li {
  margin-bottom: 15px;
}
.demo-gallery > ul > li a {
  border: 3px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}
.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  width: 100%;
}
.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}
.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}
.home .demo-gallery {
  padding-bottom: 80px;
}
#aniimated-thumbnials .demo-gallery a {
  width: 190px;
  height: 132px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 50%;
}
/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

.ui-menu .ui-menu-item-wrapper {
    white-space: pre-wrap;
}

.ui-widget.ui-widget-content {
    width: 50px;
}

.interior.container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blogBox {
    margin-bottom: 30px;
    box-sizing: border-box;
}
.blogBox .item {
    background: #f4f4f4;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    height: 100%;
}
.blogBox .item:hover {
    background: #e8e8e8;
    cursor: pointer;
}
.blogBox .item img {
    width: 100%;
}
.blogBox .item p {
    padding-bottom: 40px;
}
.blogBox .item .blogTxt {
    padding: 25px;
}
.blogBox .item h2 {
    margin: 15px 0;
    font-family: 'Roboto', sans-serif;
}
.blogBox .item .blogCategory a {
    padding: 5px 10px 2px;
    border: 1px solid #616161;
    color: #616161;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.blogBox .item .blogCategory a:hover {
    background: #616161;
    color: #fff;
    text-decoration: none;
}

#loadMore {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}
#loadMore a {
    background: #042a63;
    border-radius: 3px;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
}
#loadMore a:hover {
    background-color: #021737;
}

@media screen and (min-width: 1200px) {
  .blogBox .featured h2 {
    font-size: 42px;
  }
}
@media screen and (min-width: 991px) {
  .blogBox .featured h2 {
    font-size: 30px;
    font-style: italic;
  } 
  .blogBox .featured .blogTxt {
    max-width: 50%;
    width: 100%;
    padding: 50px;
    float: left;
    background: inherit;
    min-height: 378px;
  }
  .blogBox .featured img {
    max-width: 50%;
    width: 100%;
    float: left;
    min-height: 378px;
  }
}
@media screen and (min-width: 768px) {
  .blogBox .item img {
    height: 152px;
  }
}

.blogBox2 {
    margin-bottom: 30px;
    box-sizing: border-box;
}
.blogBox2 .item2 {
    background: #f4f4f4;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    height: 100%;
}
.blogBox2 .item2:hover {
    background: #e8e8e8;
    cursor: pointer;
}
.blogBox2 .item2 img {
    width: 100%;
}
.blogBox2 .item2 p {
    padding-bottom: 40px;
}
.blogBox2 .item2 .blogTxt2 {
    padding: 25px;
}
.blogBox2 .item2 h2 {
    margin: 15px 0;
    font-family: 'Roboto', sans-serif;
}
.blogBox2 .item2 .blogCategory2 a {
    padding: 5px 10px 2px;
    border: 1px solid #616161;
    color: #616161;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.blogBox2 .item2 .blogCategory2 a:hover {
    background: #616161;
    color: #fff;
    text-decoration: none;
}

#loadMore2 {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}
#loadMore2 a {
    background: #042a63;
    border-radius: 3px;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
}
#loadMore2 a:hover {
    background-color: #021737;
}

@media screen and (min-width: 1200px) {
  .blogBox2 .featured2 h2 {
    font-size: 42px;
  }
}
@media screen and (min-width: 991px) {
  .blogBox2 .featured2 h2 {
    font-size: 30px;
    font-style: italic;
  } 
  .blogBox2 .featured2 .blogTxt2 {
    max-width: 50%;
    width: 100%;
    padding: 50px;
    float: left;
    background: inherit;
    min-height: 378px;
  }
  .blogBox2 .featured2 img {
    max-width: 50%;
    width: 100%;
    float: left;
    min-height: 378px;
  }
}
@media screen and (min-width: 768px) {
  .blogBox2 .item2 img {
    height: 152px;
  }
}


form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }

#wrapper-chat {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    border:1px solid #ACD8F0; }

#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:auto;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:250px;
    border:1px solid #ACD8F0;
    overflow:auto; 
    position: relative;
}

#loginlog {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:289px;
    width:100%;
    border:1px solid #ACD8F0;
    overflow:auto; }

#usermsg {
    width:65%;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }



.loadersd {
  color: #0072c6;
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 45%;
  left: 45%;
  margin: -25px 0 0 -25px;
}
.loadersd div {
  transform-origin: 40px 40px;
  animation: loadersd 1.2s linear infinite;
}
.loadersd div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #0072c6;
}
.loadersd div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loadersd div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loadersd div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loadersd div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loadersd div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loadersd div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loadersd div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loadersd div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loadersd div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loadersd div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loadersd div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loadersd div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes loadersd {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}